[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lexiconPT"]
	path = lexiconPT
	url = https://github.com/sillasgonzaga/lexiconpt
	shallow = true
	registered = true
